@import "./base.css";

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem 1.5rem;
  font-weight: normal;
  background-color: rgb(223, 234, 228);
  width: 25rem; 
  height: 45rem; 
  border-radius: 1rem;
  box-shadow: 4px 7px 40px rgba(33, 33, 33, 0.1);
  overflow: auto; 
}

